html {
  scrollbar-width: none;
}

@font-face {
  font-family: 'ufonest';
  src: url("fonts/UFONEST.ttf") format('truetype');
}

body{
    margin: 0;
}

#main{
    padding: 30px;
    height: 100vh;
    width: 100vw;
}

h1{
    color: #38614d;
    letter-spacing: .06rem;
    text-align: center;
    font-family: 'ufonest';
}
