html {
  scrollbar-width: none;
}

@font-face {
  font-family: 'ufonest';
  src: url("fonts/UFONEST.ttf") format('truetype');
}

body{
    margin: 0;
}

#main{
    padding: 0px;
    height: 85vh;
    width: 100vw;
}

h1{
    color: #38614d;
    letter-spacing: .06rem;
    text-align: center;
    font-family: 'ufonest';
}

p{
  color: #38614d;
  letter-spacing: .09rem;
  text-align: center;
  font-family: 'ufonest';
}
